<div class="top">
    <label id="logoberger" for="toggle">&#9776;</label>
     <div class="headleft head">
        <a class="headlink"  href="">Test</a>
        <a class="headlink"  href="">Test</a>
        <a class="headlink"  href="">Test</a>
     </div>
     <div class="headright head">
        <svg class="svg-icon icone  svg-blanc" id="partage" >
            <use xlink:href="../assets/svg-sprite.svg#partage_contour"></use>
        </svg>
        <a href="/user/test/xxxx.txt" download="文件名.txt">
        <svg class="svg-icon icone  svg-blanc" id="telecharger" >
            <use xlink:href="../assets/svg-sprite.svg#telecharger_contour"></use>
        </svg>
        </a>
        
     </div>
    
</div>
<input type="checkbox" id="toggle"/>
<label class="leftzone" for="toggle">
    
    <div class="menu">
        <label  class="pagelinka" for="toggle"    [routerLink]="['/home']" >Home</label>
        <button type="button" class="collapsible">liste A </button>
        <div class="content">   
            <div class="listlink">
                    <label  class="pagelink" for="toggle"  [routerLink]="['/a']" >A</label>
                    <label  class="pagelink" for="toggle"  [routerLink]="['/b']" >B</label>
                    <label  class="pagelink" for="toggle"   [routerLink]="['/c']" >C</label>
            </div>
        </div>
        <button type="button" class="collapsible">Section 1</button>
        <div class="content">
            <div class="listlink">
                <label  class="pagelink" for="toggle"   [routerLink]="['/d']" >D</label>
                <label  class="pagelink" for="toggle"   [routerLink]="['/e']" >E</label>
                <label  class="pagelink" for="toggle"   [routerLink]="['/f']" >F</label>
            </div>
    
       </div>
        <button type="button" class="collapsible">Section 2</button>
        <div class="content">
            <div class="listlink">
                <label  class="pagelink" for="toggle"   [routerLink]="['/g']" >G</label>
                <label  class="pagelink" for="toggle"   [routerLink]="['/h']" >H</label>
            </div>
            
    
        </div>
        <button type="button" class="collapsible">Section 3</button>
        <div class="content">
            <div class="listlink">
                <label  class="pagelink" for="toggle"   [routerLink]="['/i']" >I</label>
                <label  class="pagelink" for="toggle"   [routerLink]="['/j']" >J</label>
                <label  class="pagelink" for="toggle"   [routerLink]="['/j']" >J</label>
                <label  class="pagelink" for="toggle"   [routerLink]="['/j']" >J</label>
                <label  class="pagelink" for="toggle"   [routerLink]="['/j']" >J</label>
                <label  class="pagelink" for="toggle"   [routerLink]="['/j']" >J</label>

                <label  class="pagelink" for="toggle"   [routerLink]="['/j']" >J</label>
                <label  class="pagelink" for="toggle"   [routerLink]="['/j']" >J</label>
                <label  class="pagelink" for="toggle"   [routerLink]="['/j']" >J</label>
                <label  class="pagelink" for="toggle"   [routerLink]="['/j']" >J</label>
                <label  class="pagelink" for="toggle"   [routerLink]="['/j']" >J</label>

                <label  class="pagelink" for="toggle"   [routerLink]="['/j']" >J</label>
                <label  class="pagelink" for="toggle"   [routerLink]="['/j']" >J</label>
                <label  class="pagelink" for="toggle"   [routerLink]="['/j']" >J</label>
                <label  class="pagelink" for="toggle"   [routerLink]="['/j']" >J</label>
                <label  class="pagelink" for="toggle"   [routerLink]="['/j']" >J</label>
                <label  class="pagelink" for="toggle"   [routerLink]="['/j']" >J</label>
                <label  class="pagelink" for="toggle"   [routerLink]="['/j']" >J</label>
                <label  class="pagelink" for="toggle"   [routerLink]="['/j']" >J</label>
                <label  class="pagelink" for="toggle"   [routerLink]="['/j']" >J</label>
                <label  class="pagelink" for="toggle"   [routerLink]="['/j']" >J</label>
                <label  class="pagelink" for="toggle"   [routerLink]="['/j']" >J</label>

                <label  class="pagelink" for="toggle"   [routerLink]="['/j']" >J</label>
                <label  class="pagelink" for="toggle"   [routerLink]="['/j']" >J</label>
                <label  class="pagelink" for="toggle"   [routerLink]="['/j']" >J</label>
                <label  class="pagelink" for="toggle"   [routerLink]="['/j']" >J</label>
                <label  class="pagelink" for="toggle"   [routerLink]="['/j']" >J</label>

                <label  class="pagelink" for="toggle"   [routerLink]="['/j']" >J</label>
                <label  class="pagelink" for="toggle"   [routerLink]="['/j']" >J</label>
                <label  class="pagelink" for="toggle"   [routerLink]="['/j']" >J</label>
                <label  class="pagelink" for="toggle"   [routerLink]="['/j']" >J</label>
                <label  class="pagelink" for="toggle"   [routerLink]="['/j']" >J</label>
                <label  class="pagelink" for="toggle"   [routerLink]="['/j']" >J</label>
            </div>
    
        </div>
    </div>
</label>
<div class="pagecontenu">
    <router-outlet></router-outlet>
</div>
