 <!-- suivi -->
 <div class="suivi carte " id="suivi_list">
    <div class="carteleft">
        <div class="suivi_notif cartenotif">
            <div class="pointe">
            </div>
        </div>
        <div class="suivi_iconecontain carteiconecontain">
            <svg class="carteicone icon svg-icon">
              <use xlink:href="../../../assets/svg-sprite.svg#suivi_glyph"></use>
          </svg>
          <!-- affiche qu'encour-->
          <svg class="iconenotif icon svg-icon" id="suiviencour">
            <use xlink:href="../../../assets/svg-sprite.svg#travaux"></use>
        </svg>
        <!-- affiche qu'en fini -->
        <svg class="iconenotif icon svg-icon" id="suivifini">
            <use xlink:href="../../../assets/svg-sprite.svg#valider_cercle_g"></use>
        </svg>
        </div>
    </div>
    <div class="suivi_info carteinfo">
        <div class="suivi_infoleft carteinfoleft">
            <div class="contact carteinfoleft_top">
               0634565677
            </div>
            <div class="operateur carteinfoleft_down">
                M. Dupond Eric
            </div>
            <div class="dossiercontain">
                <svg class="dossiericone icon svg-icon">
                        <use xlink:href="../../../assets/svg-sprite.svg#dossier"></use>
                    </svg>
                <div class="operateur carteinfoleft_down">
                    Dossier 4635676545
                </div>
            </div>

        </div>
        <div class="suivi_inforight carteinforight">
            <div class="tiketdate carteinforight_top">
                EE d MMMM 
            </div>
            <div class="carteinforight-down">
                00:34:45
            </div>
        </div>
    </div>
    <div class="outilcontain carteoutil">
        <div class="outil">
            <svg class="icon svg-icon" >
              <use xlink:href="../../../assets/svg-sprite.svg#suprimer_contour"></use>
           </svg>
        </div>
        
    </div>
</div>
