<div class="create-custom-time-spent">
    <div class="suiviForm">

        <!-- head -->
        <div class="suivi carte headcarte" id="suivi_headcarte">
            <div class="carteleft">
                <div class="suivi_notif cartenotif">
                    <div class="pointe">
                    </div>
                </div>
                <div class="suivi_iconecontain carteiconecontain">
                    <svg class="carteicone icon svg-icon">
                      <use xlink:href="../../../assets/svg-sprite.svg#suivi_glyph"></use>
                  </svg>
                </div>
            </div>
            <div class="suivi_info carteinfo">
                <div class="suivi_infoleft carteinfoleft">
                    <div class="contact carteinfoleft_top">
                       contact.nom
                    </div>
                    <div class="operateur carteinfoleft_down">
                        phoneNumber
                    </div>
                </div>
                <div class="suivi_inforight carteinforight">
                    <div class="tiketdate carteinforight_top">
                        EE d MMMM 
                    </div>
                    <div class="carteinforight-down">
                    </div>
                </div>
            </div>
            <div class="outilcontain carteoutil">
                <div class="outil">
                    <svg class="icon svg-icon" >
                        <use xlink:href="../../../assets/svg-sprite.svg#croix_contour"></use>
                    </svg>                    
                </div>

            </div>
        </div>
        <!-- suivi contenu -->
        <div class="suivi_contenu">
            <!-- dossier -->
            <div class="dossier cartepetit" id="dossier_cart">
                <div class="cartepetit_left">
                    <div class="dossiericonecontain cartepetit_iconecontain">
                        <svg class="carteicone icon svg-icon">
              <use xlink:href="../../../assets/svg-sprite.svg#dossier"></use>
          </svg>
                    </div>
                </div>
                <div class="dossierinfo cartepetit_info">
                    <div class="suiviinfoleft cartepetit_infoleft">
                        <div class="contact cartepetit_infoleft_top">
                         suivi.dossier.code
                        </div>
                        <div class="operateur cartepetit_infoleft_down">
                            Camille Kavin
                        </div>
                    </div>
                </div>
            </div>

            <!-- activité -->
            <div class="selection " id="activite">
                <div class="titleselection">
                    Destinataire
                </div>
                <select class="selectionoption">
                    <option >
                        Eric Lebon
                    </option>
                </select>
            </div>

            <!-- parti textfiled -->
            <div class="textfiled" id="commentaire">
                <div class="titletextfiled">
                    Motif
                </div>
                <div class='divtextarea' id="inputcommentaire" contenteditable>
                </div>
            </div>



            <!-- button de confirmation  -->
            <div class="panalconfirmation">
                <div class="buttoncontain">
                    <button class="button" id="annuler_suivi" >
                     <svg class="icon svg-icon">
                         <use xlink:href="../../assets/svg-sprite.svg#valider_cercle"></use>
                     </svg>
                     <span class="textbutton"> Clôturer </span>
                    </button>

                    
                </div>
            </div>
            <div class="separation"></div>
        </div>
    </div>
</div>






